@mixin display-flex($align, $justify, $direction) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
  }
  
  @mixin background {
    background-color: #fff;
    padding: 30px;
    width: 100%;
    border-radius: 2px;
  }
  
  @mixin buttons($bg, $padding, $hoverBg) {
    background-color: $bg;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: $padding;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  
    &:hover {
      background-color: $hoverBg;
    }
  }