@mixin display-flex($align, $justify, $direction) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
  }
  
  @mixin buttons($bg, $hoverBg) {
    border-radius: 25px;
    padding: 12px 15px;
    font-weight: bold;
    background-color: $bg;
    border: none;
  
    &:hover {
      background-color: $hoverBg;
    }
  }
  @mixin background($width,$height, $radius, $bgColor, $hoverBg) {
    width: $width;
    height: $height;
    border-radius: $radius;
    background-color: $bgColor;
  
    &:hover {
      background-color: $hoverBg;
    }
  }